<h1>Sign In</h1>

<div class='center'>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <table class>
  	<tr><td>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
</td></tr>

  	<tr><td>
  <div><%= f.label :password %>
  <%= f.password_field :password %></div>
</td></tr>

  	<tr><td>
  <div class='remember_me'>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> Remember Me
  <% end -%>
  </div>
</td></tr>

  	<tr><td>
  <div><%= f.submit "Sign in" , class: 'button big blue'%></div>
</td></tr>
<% end %>

  	<tr><td>
<%= render "devise/shared/links" %>
</td></tr>
  </table>
</div>