 <%= form_for @product, :html => {:multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div class="field">
      <%= %><br />
      <%= f.select :category_id, Category.all.map{|c| [c.name,c.id]}, prompt: 'select category' %>
    </div>
    <div class="field">
      <%= f.label :brand %><br />
      <%= f.text_field :brand %>
    </div>

    <div class="field">
      <%= f.label :product_type %><br />
      <%= f.text_field :ptype %>
    </div>

     <div class="condition">
       <%= f.label :condition %>
       New
       <%= f.radio_button :condition, true,  :checked => @product.condition?%>
       Used
       <%= f.radio_button :condition, false, :checked => !@product.condition? %>
     </div>


     <div id="daysUsed" class="DaysUsed" style="display: none">
       <br/>
       Days Used
       <%= f.select :days_used, optionsForDaysUsedDropDown(@product.days_used), :class => 'genForm_dropBox' %>
     </div>



  <div class="field">
    <%= f.label :fixed_price %><br />
    <%= f.text_field :fixed_price %>
  </div>



  <div class="field">
    Enable Bidding
    <%= f.check_box :is_bid %>
  </div>



     <div id= is_bid class="is_bid">
       <%= f.label :starting_price %><br />
       <%= f.text_field :starting_price %>
      <p></p>
      <%= f.label :listing_days %><br />
      <%= f.text_field :listing_days %>
        <p></p>
       <div class="field">
         Start Date (mm/dd/YYYY)<br />
         <%= f.text_field :start_date %>
       </div>

     </div>
        <p></p>

    <div class="field">
      <%= f.label :shipping_cost %><br />
      <%= f.text_field :shipping_cost %>
    </div>

     <div class="field">
       <%= f.file_field :image %>

       <%= f.label :remote_image_url, "or image URL" %><br />
       <%= f.text_field :remote_image_url %>
     </div>

     <script type="text/javascript">
         $(document).ready(function(){
             $('#product_start_date').datepicker({
                 todayBtn: true,
                 todayHighlight: true
             });
         })
     </script>
  <div class="actions">
    <%= f.submit class: 'button big blue'%>
  </div>


<% end %>
