<!-- Universal Header -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BestBay", home_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    home_url %></li>
          <% if !signed_in? %> <li><%= link_to "Sign up",    new_user_registration_url %></li><%end %>
          <% if signed_in? %>
              <li><%= link_to "Users", "#" %></li>
              <li><%= link_to "Add Product", new_product_url %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Accounts", "#" %></li>
                  <li><%= link_to "Settings", "#" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                  </li>
                </ul> </li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_url %></li>
          <% end %>
        </ul> </nav>
    </div>
  </div>
</header>
